.is-hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

img {
  display: block;
  width: 300px;
  height: 200px;
}

a {
  text-decoration: none;
}

.gallery {
  margin: 0 auto;
  width: 1260px;
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.photo-card {
  width: 300px;
  height: 264px;
}

.info {
  display: flex;
}
